.AboutHead {
  position: relative;
  top: 1vw;
  text-align: center;
  font-size: 2.1vw;
  font-weight: 700;
}
.AboutDesc {
  position: relative;
  margin-left: 6.6vw;
  margin-right: 6.6vw;
  font-size: 1.05vw;
  font-weight: 700;
}
.GetIntoItBtn {
  height: 3.5vw;
  width: 15vw;
  border-radius: 50px;
  border: none;
  background-color: black;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 0.75vw;
  cursor: pointer;
  animation: Glowing 1300ms infinite;
}
.AboutUs .GetIntoItBtn {
  position: relative;
  left: 40vw;
  margin-top: 0.35vw;
  margin-bottom: 2vw;
}
.StandOutHead {
  position: relative;
  top: -2vw;
  text-align: center;
  font-size: 2.1vw;
  font-weight: 700;
}
.StandOutDesc {
  position: relative;
  top: -2.5vw;
  margin-left: 6.6vw;
  margin-right: 6.6vw;
  font-size: 1.05vw;
  font-weight: 700;
}
.Certificate {
  position: relative;
  height: 65vw;
}
.ContactH2 {
  position: relative;
  text-align: center;
  font-size: 1.5vw;
}
.ContactP {
  position: relative;
  text-align: center;
  width: 60vw;
  font-size: 1.1vw;
  font-weight: 700;
  margin-left: 18vw;
}
.ContactUl {
  list-style: none;
}
.ContactUl .GetIntoItBtn {
  position: relative;
  top: 0.5vw;
  margin-left: 40vw;
}

/*Responsiveness*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .AboutHead {
    font-size: 3.6vw;
  }
  .AboutDesc {
    font-size: 2.1vw;
  }
  .AboutUs .GetIntoItBtn {
    position: relative;
    width: 33vw;
    height: 7vw;
    font-size: 2vw;
    margin-left: -8vw;
    top: 1vw;
  }
  .StandOutHead {
    font-size: 3.6vw;
    position: relative;
    top: 0;
  }
  .StandOutDesc {
    font-size: 2.1vw;
  }
  .ContactH2 {
    position: relative;
    margin-left: -6vw;
    font-size: 2.7vw;
  }
  .ContactP {
    position: relative;
    margin-left: 13vw;
    font-size: 2.1vw;
  }
  .ContactUl .GetIntoItBtn {
    position: relative;
    width: 33vw;
    height: 7vw;
    font-size: 2vw;
    margin-left: 26vw;
    top: 1vw;
  }
}
@keyframes Glowing {
  0% {
    background-color: #000000;
    box-shadow: 0 0 5px #000000;
  }
  50% {
    background-color: #3d3d3d;
    box-shadow: 0 0 20px #3d3d3d;
  }
  100% {
    background-color: #000000;
    box-shadow: 0 0 5px #000000;
  }
}