.NavBar {
  background-color: rgb(255, 255, 255);
  height: 90px;
  position: sticky;
  box-shadow: rgba(4, 17, 29, 0.72) 0px 0px 18px 0px;
}
.NavLogo {
  position: relative;
  top: 9px;
  margin-left: 120px;
}
.LogoImg {
  border-radius: 50%;
}
.ExpediuzBranding {
  position: relative;
  top: -72px;
  margin-left: 216px;
}
.NavUl {
  position: relative;
  top: -133px;
  margin-left: 900px;
  list-style: none;
  text-decoration: none;
  display: flex;
}
.NavLi {
  margin: 10px;
  font-weight: 700;
  font-size: 18px;
  color: rgba(4, 17, 29, 0.75);
}
.NavLi:hover {
  color: rgb(4, 17, 29);
}
.RequestBtn {
  position: relative;
  top: -196px;
  margin-left: 1600px;
  height: 50px;
  width: 150px;
  border-radius: 50px;
  border: none;
  background-color: black;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 700;
  font-size: small;
  cursor: pointer;
}
.OurSlogan {
  background-color: #b3e0ff;
  height: 720px;
}
.ServersIllustration {
  position: relative;
  margin-left: 1030px;
}
.SloganText {
  position: relative;
  top: -660px;
  margin-left: 135px;
  width: 500px;
  font-size: 40px;
}
.WhatWeHave {
  position: relative;
  top: -650px;
  font-size: 20px;
  font-weight: 700;
  width: 500px;
  margin-left: 135px;
}
.QuoteBtn{
  position: relative;
  top: -620px;
  margin-left: 130px;
  height: 70px;
  width: 200px;
  border-radius: 50px;
  border: none;
  background-color: black;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 700;
  font-size: medium;
  cursor: pointer;
}
.OfferBtn{
  position: relative;
  top: -620px;
  margin-left: 100px;
  height: 70px;
  width: 200px;
  border-radius: 50px;
  border: none;
  background-color: black;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 700;
  font-size: medium;
  cursor: pointer;
}