/*NavBar*/
/*CSS For The Navigation Bar*/
.NavBar {
  background-color: rgba(255, 255, 255, 0.72);
  height: 4.7vw;
  z-index: 1;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  box-shadow: rgba(4, 17, 29, 0.72) 0px 0px 18px 0px;
}

/*CSS For The NavBar Logo*/
.NavLogo {
  position: relative;
  top: 0.3vw;
  margin-left: 6.5vw;
  width: 4vw;
  height: 4vw;
}

/*CSS For The Logo Illustration*/
.LogoImg {
  border-radius: 50%;
}

/*Logo For The Name "Expediuz Information Services Pvt. Ltd."*/
.ExpediuzBranding {
  position: relative;
  top: -3.7vw;
  margin-left: 12vw;
  font-size: 1.25vw;
}

/*CSS For The Unordered List Containing Options In The NavBar*/
.NavUl {
  position: relative;
  top: -6.9vw;
  margin-left: 47vw;
  list-style: none;
  text-decoration: none;
  display: flex;
}

/*CSS For Each Option In the NavBar*/
.NavLi {
  margin: 0.5vw;
  font-weight: 700;
  font-size: 1vw;
  color: rgba(4, 17, 29, 0.75);
}

/*CSS For Changing The Colour Of The NavBar Options When Hovered*/
.NavLi:hover {
  color: rgb(4, 17, 29);
}

/*CSS For The "Request A Quote" Button*/
.RequestBtn {
  position: relative;
  top: -10.2vw;
  margin-left: 84vw;
  height: 2.7vw;
  width: 8vw;
  border-radius: 50px;
  border: none;
  background-color: black;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 0.6vw;
  cursor: pointer;
}

/*Expediuz Slogan*/
/*CSS For The Divison Of Our Branding & Slogan*/
.OurSlogan {
  background-color: #b3e0ff;
  height: 36vw;
}

/*CSS For The Illustration Depicting Our OP Servers*/
.ServersIllustration {
  position: relative;
  margin-left: 54vw;
  width: 36vw;
  height: 36vw;
}

/*CSS For Our OP Slogan "Sharp, Sleek & Sensible"*/
.SloganText {
  position: relative;
  top: -34vw;
  margin-left: 6.5vw;
  width: 27vw;
  font-size: 2.1vw;
  color: #030942;
}

/*CSS For The Special Feauters That We Have, And Why We Lead The Crowd*/
.WhatWeHave {
  position: relative;
  top: -33vw;
  font-size: 1.05vw;
  font-weight: 700;
  width: 27vw;
  margin-left: 6.5vw;
  color: #396caa;
}

/*CSS For The Button Linking To A Form, Where The User Can Request A Service With Personal Attention*/
.QuoteBtn {
  position: relative;
  top: -30vw;
  margin-left: 6.5vw;
  height: 3.5vw;
  width: 10vw;
  border-radius: 50px;
  border: none;
  background-color: black;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 0.75vw;
  cursor: pointer;
}

/*CSS For The Button Linking To All Our Services We Offer*/
.OfferBtn {
  position: relative;
  top: -30vw;
  margin-left: 6vw;
  height: 3.5vw;
  width: 10vw;
  border-radius: 50px;
  border: none;
  background-color: black;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 0.75vw;
  cursor: pointer;
}
/*End Of CSS For Branding & Slogan*/

/*CSS Used At Multiple Places*/
/*CSS For Illustration Of Our Featured Services*/
.FeaturedIllustration {
  position: relative;
  width: 36vw;
  height: 36vw;
}

/*CSS For Heading Of Our Feautred Services*/
.FeaturedHeading {
  position: relative;
  width: 27vw;
  font-size: 2.1vw;
  color: #030942;
}

/*CSS For Text Speaking About The Goodies In Our Feautred Services*/
.SpecialInOurServices {
  position: relative;
  font-size: 1.05vw;
  font-weight: 700;
  width: 21vw;
  color: #2e72f0;
}

/*CSS For The Get Into It Button*/
.GetIntoItBtn {
  position: relative;
  height: 3.5vw;
  width: 10vw;
  border-radius: 50px;
  border: none;
  background-color: black;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 0.75vw;
  cursor: pointer;
}
/*End Of Multiple Use CSS*/

/*Expediuz Featured Service #1*/
/*CSS For The Div Of Our Feautured Service #1*/
.Featured1 {
  height: 45vw;
}
.Featured1 .FeaturedIllustration {
  top: 5vw;
  margin-left: 7vw;
}
.Featured1 .FeaturedHeading {
  top: -32vw;
  margin-left: 62vw;
}
.Featured1 .SpecialInOurServices {
  top: -31vw;
  margin-left: 62vw;
}
.Featured1 .GetIntoItBtn {
  top: -29vw;
  margin-left: 61.5vw;
}
/*End Of CSS For Featured Service #1*/

/*Expediuz Featured Service #2*/
/*CSS For The Div Of Our Feautured Service #2*/
.Featured2 {
  background-color: #b3e0ff;
  height: 45vw;
}
.Featured2 .FeaturedIllustration {
  top: 5vw;
  margin-left: 54vw;
}
.Featured2 .FeaturedHeading {
  top: -32vw;
  margin-left: 6.5vw;
}
.Featured2 .SpecialInOurServices {
  top: -31vw;
  margin-left: 6.5vw;
}
.Featured2 .GetIntoItBtn {
  top: -29vw;
  margin-left: 6vw;
}
/*End Of CSS For Featured Service #2*/

/*Expediuz Featured Service #3*/
/*CSS For The Div Of Our Feautured Service #3*/
.Featured3 {
  background-color: #ffffff;
  height: 45vw;
}
.Featured3 .FeaturedIllustration {
  top: 5vw;
  margin-left: 6.5vw;
}
.Featured3 .FeaturedHeading {
  top: -32vw;
  margin-left: 62vw;
}
.Featured3 .SpecialInOurServices {
  top: -31vw;
  margin-left: 62vw;
}
.Featured3 .GetIntoItBtn {
  top: -29vw;
  margin-left: 61.5vw;
}

.Footer {
  height: 20vw;
  background-color: black;
}
.FooterLogo {
  position: relative;
  top: 0.5vw;
  margin-left: 6.5vw;
  width: 4vw;
  height: 4vw;
}
.FooterLogoImg {
  border-radius: 50%;
}
/*Responsiveness*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /*Responsive CSS For NavBar*/
  .NavBar {
    height: 12vw;
  }
  .NavLogo {
    top: 0.9vw;
    margin-left: 5vw;
    width: 10vw;
    height: 10vw;
  }
  .ExpediuzBranding {
    top: -9.5vw;
    margin-left: 18vw;
    font-size: 3.6vw;
  }
  .NavUl,
  .NavLi,
  .RequestBtn {
    display: none;
  }
  /*End Of Responsive CSS For NavBar*/

  /*Responsive CSS For Branding & Slogan*/
  .OurSlogan {
    height: 120vw;
  }
  .ServersIllustration {
    margin-left: 10vw;
    width: 72vw;
    height: 72vw;
  }
  .SloganText {
    top: -5vw;
    margin-left: 20vw;
    width: 60vw;
    font-size: 4vw;
  }
  .WhatWeHave {
    top: -5vw;
    font-size: 2.1vw;
    width: 60vw;
    margin-left: 20vw;
  }
  .QuoteBtn {
    top: -3vw;
    margin-left: 19vw;
    height: 7vw;
    width: 27vw;
    font-size: 2vw;
  }
  .OfferBtn {
    top: -3vw;
    margin-left: 8vw;
    height: 7vw;
    width: 27vw;
    font-size: 2vw;
  }
  /*End Of Responsive CSS For Branding & Slogan*/

  .FeaturedIllustration {
    width: 72vw;
    height: 72vw;
  }
  .FeaturedHeading {
    top: -32vw;
    margin-left: 1vw;
    width: 60vw;
    font-size: 4vw;
  }
  .SpecialInOurServices{
    width: 60vw;
    font-size: 2.1vw;
  }
  .GetIntoItBtn {
    height: 7vw;
    width: 27vw;
    font-size: 2vw;
  }

  .Featured1 {
    height: 150vw;
  }
  .Featured1 .FeaturedIllustration {
    top: 10vw;
    margin-left: 10vw;
  }
  .Featured1 .FeaturedHeading {
    top: 15vw;
    margin-left: 20vw;
  }
  .Featured1 .SpecialInOurServices {
    top: 15vw;
    margin-left: 20vw;
  }
  .Featured1 .GetIntoItBtn {
    top: 18vw;
    margin-left: 19.25vw;
  }

  .Featured2 {
    height: 150vw;
  }
  .Featured2 .FeaturedIllustration {
    top: 10vw;
    margin-left: 10vw;
  }
  .Featured2 .FeaturedHeading {
    top: 15vw;
    margin-left: 20vw;
  }
  .Featured2 .SpecialInOurServices {
    top: 15vw;
    margin-left: 20vw;
  }
  .Featured2 .GetIntoItBtn {
    top: 18vw;
    margin-left: 19.25vw;
  }

  .Featured3 {
    height: 150vw;
  }
  .Featured3 .FeaturedIllustration {
    top: 10vw;
    margin-left: 10vw;
  }
  .Featured3 .FeaturedHeading {
    top: 15vw;
    margin-left: 20vw;
  }
  .Featured3 .SpecialInOurServices {
    top: 15vw;
    margin-left: 20vw;
  }
  .Featured3 .GetIntoItBtn {
    top: 18vw;
    margin-left: 19.25vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
