@keyframes Glowing {
  0% {
    background-color: #000000;
    box-shadow: 0 0 5px #000000;
  }
  50% {
    background-color: #3d3d3d;
    box-shadow: 0 0 20px #3d3d3d;
  }
  100% {
    background-color: #000000;
    box-shadow: 0 0 5px #000000;
  }
}
.Services {
  text-align: center;
  height: 10vw;
}
.ServicesHeading {
  position: relative;
  top: 1.2vw;
  font-size: 2.1vw;
}
.PepTalkAboutServices {
  font-size: 1.05vw;
  font-weight: 700;
}

.ServHead {
  position: relative;
  font-size: 1.8vw;
}
.ServDesc {
  position: relative;
  width: 30vw;
  font-size: 1.05vw;
  font-weight: 700;
}
.ServImg {
  position: relative;
  width: 27vw;
  height: 27vw;
}
.GetIntoItBtn {
  position: relative;
  height: 3.5vw;
  width: 10vw;
  border-radius: 50px;
  border: none;
  background-color: black;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 0.75vw;
  cursor: pointer;
  animation: Glowing 1300ms infinite;
}

.CloudComputes .GetIntoItBtn {
  position: relative;
  top: -5vw;
  left: 45vw;
}

.Serv1 {
  height: 30vw;
}
.Serv1 .ServImg {
  top: -2.7vw;
  margin-left: 65vw;
}
.Serv1 .ServHead {
  top: 5vw;
  margin-left: 7.2vw;
}

.Serv1 .ServDesc {
  top: -22vw;
  margin-left: 7.2vw;
}

.Serv1 .GetIntoItBtn {
  top: -20vw;
  margin-left: 7.2vw;
}

.Serv2 {
  height: 30vw;
  background-color: #b3e0ff;
}
.Serv2 .ServImg {
  top: -2.7vw;
  margin-left: 4vw;
}
.Serv2 .ServHead {
  top: 5vw;
  margin-left: 60vw;
}
.Serv2 .ServDesc {
  top: -22vw;
  margin-left: 60vw;
}
.Serv2 .GetIntoItBtn {
  top: -20vw;
  margin-left: 60vw;
}

.Serv3 {
  height: 30vw;
}
.Serv3 .ServImg {
  top: -2.7vw;
  margin-left: 65vw;
}
.Serv3 .ServHead {
  top: 5vw;
  margin-left: 7.2vw;
}
.Serv3 .ServDesc {
  top: -22vw;
  margin-left: 7.2vw;
}
.Serv3 .GetIntoItBtn {
  top: -20vw;
  margin-left: 7.2vw;
}

.Serv4 {
  height: 30vw;
  background-color: #b3e0ff;
}
.Serv4 .ServImg {
  top: -4.2vw;
  margin-left: 6.5vw;
  width: 30vw;
  height: 30vw;
}
.Serv4 .ServHead {
  top: 5vw;
  margin-left: 60vw;
}
.Serv4 .ServDesc {
  top: -23vw;
  margin-left: 60vw;
}
.Serv4 .GetIntoItBtn {
  top: -20vw;
  margin-left: 60vw;
}

.Serv5 {
  height: 30vw;
}
.Serv5 .ServImg {
  top: -2.7vw;
  margin-left: 65vw;
}
.Serv5 .ServHead {
  top: 5vw;
  margin-left: 7.2vw;
}
.Serv5 .ServDesc {
  top: -22vw;
  margin-left: 7.2vw;
}
.Serv5 .GetIntoItBtn {
  top: -20vw;
  margin-left: 7.2vw;
}

.Serv6 {
  height: 30vw;
  background-color: #b3e0ff;
}
.Serv6 .ServImg {
  top: -5.4vw;
  margin-left: 4vw;
}
.Serv6 .ServHead {
  top: 4vw;
  margin-left: 60vw;
}
.Serv6 .ServDesc {
  top: -22.75vw;
  margin-left: 60vw;
}
.Serv6 .GetIntoItBtn {
  top: -20vw;
  margin-left: 60vw;
}

.Serv7 {
  height: 30vw;
  top: -1vw;
}
.Serv7 .ServImg {
  top: -8vw;
  width: 29vw;
  height: 29vw;
  margin-left: 65vw;
}
.Serv7 .ServHead {
  top: 3vw;
  margin-left: 7.2vw;
}
.Serv7 .ServDesc {
  top: -25vw;
  margin-left: 7.2vw;
}
.Serv7 .GetIntoItBtn {
  top: -24vw;
  margin-left: 7.2vw;
}

.CloudComputes {
  position: relative;
}
.CloudComputes .PepTalkAboutServices {
  position: relative;
  top: -3vw;
  text-align: center;
  font-weight: 800;
  font-size: 1.5vw;
}
.CloudComputes .PepTalkAboutServices2 {
  position: relative;
  top: -4.6vw;
  text-align: center;
  font-weight: 800;
  font-size: 1.5vw;
}
.CloudComputes .ServicesDesc {
  width: 72vw;
  margin-left: 15vw;
  position: relative;
  top: -4vw;
  font-weight: 700;
  font-size: 1.05vw;
}
.CloudComputes .ServicesDesc2 {
  width: 72vw;
  position: relative;
  top: -8.1vw;
  margin-left: 15vw;
  font-weight: 700;
  font-size: 1.05vw;
}

/*Responsiveness*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .ServicesHeading {
    position: relative;
    top: 2vw;
    font-size: 4.2vw;
  }
  .PepTalkAboutServices {
    width: 50vw;
    font-size: 2.7vw;
    margin-left: 24vw;
  }

  .ServImg {
    width: 81vw;
    height: 81vw;
  }
  .ServHead {
    top: -32vw;
    width: 90vw;
    font-size: 4vw;
  }
  .ServDesc {
    width: 60vw;
    font-size: 2.1vw;
  }
  .GetIntoItBtn {
    height: 7vw;
    width: 27vw;
    font-size: 2vw;
  }

  .Serv1 {
    height: 150vw;
  }
  .Serv1 .ServImg {
    top: 18vw;
    margin-left: 10vw;
  }
  .Serv1 .ServHead {
    top: 15vw;
    width: 72vw;
    text-align: center;
    margin-left: 12vw;
  }
  .Serv1 .ServDesc {
    top: 20vw;
    margin-left: 20vw;
  }
  .Serv1 .GetIntoItBtn {
    top: 24vw;
    margin-left: 19.25vw;
  }

  .Serv2 {
    height: 155vw;
  }
  .Serv2 .ServImg {
    top: 18vw;
    margin-left: 7vw;
  }
  .Serv2 .ServHead {
    top: 15vw;
    width: 45vw;
    margin-left: 33vw;
  }
  .Serv2 .ServDesc {
    top: 20vw;
    margin-left: 20vw;
  }
  .Serv2 .GetIntoItBtn {
    top: 24vw;
    margin-left: 19.25vw;
  }

  .Serv3 {
    height: 155vw;
  }
  .Serv3 .ServImg {
    top: 18vw;
    margin-left: 10vw;
  }
  .Serv3 .ServHead {
    top: 15vw;
    width: 72vw;
    text-align: center;
    margin-left: 12vw;
  }
  .Serv3 .ServDesc {
    top: 20vw;
    margin-left: 20vw;
  }
  .Serv3 .GetIntoItBtn {
    top: 24vw;
    margin-left: 19.25vw;
  }

  .Serv4 {
    height: 143vw;
  }
  .Serv4 .ServImg {
    top: 15vw;
    width: 81vw;
    height: 81vw;
    margin-left: 10vw;
  }
  .Serv4 .ServHead {
    top: 15vw;
    width: 72vw;
    text-align: center;
    margin-left: 11vw;
  }
  .Serv4 .ServDesc {
    top: 15vw;
    margin-left: 20vw;
  }
  .Serv4 .GetIntoItBtn {
    top: 18vw;
    margin-left: 19.25vw;
  }

  .Serv5 {
    height: 150vw;
  }
  .Serv5 .ServImg {
    top: 18vw;
    margin-left: 10vw;
  }
  .Serv5 .ServHead {
    top: 15vw;
    width: 60vw;
    text-align: center;
    margin-left: 18vw;
  }
  .Serv5 .ServDesc {
    top: 20vw;
    margin-left: 20vw;
  }
  .Serv5 .GetIntoItBtn {
    top: 24vw;
    margin-left: 19.25vw;
  }

  .Serv6 {
    height: 158vw;
  }
  .Serv6 .ServImg {
    top: 18vw;
    margin-left: 10vw;
  }
  .Serv6 .ServHead {
    top: 15vw;
    width: 60vw;
    text-align: center;
    margin-left: 18vw;
  }
  .Serv6 .ServDesc {
    top: 20vw;
    margin-left: 20vw;
  }
  .Serv6 .GetIntoItBtn {
    top: 24vw;
    margin-left: 19.25vw;
  }

  .Serv7 {
    height: 135vw;
  }
  .Serv7 .ServImg {
    top: 5vw;
    width: 81vw;
    height: 81vw;
    margin-left: 8vw;
  }
  .Serv7 .ServHead {
    top: 15vw;
    width: 60vw;
    text-align: center;
    margin-left: 19vw;
  }
  .Serv7 .ServDesc {
    top: -4vw;
    margin-left: 20vw;
  }
  .Serv7 .GetIntoItBtn {
    top: -1vw;
    margin-left: 19.25vw;
  }
}
